/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./templates/items-list/filter/dropdown/style.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Filter Dropdown CSS Variables
 */
.vp-filter__style-dropdown {
  --vp-filter-dropdown--items__gap: 6px;
  --vp-filter-dropdown--items__min-width: 40px;
  --vp-filter-dropdown--items__padding-v: 0.7em;
  --vp-filter-dropdown--items__padding-h: 1.3em;
  --vp-filter-dropdown--items__padding-right: 0.75em;
  --vp-filter-dropdown--items__font-size: 0.9em;
  --vp-filter-dropdown--items__font-weight: 600;
  --vp-filter-dropdown--items__line-height: 1.4;
  --vp-filter-dropdown--items__text-decoration: none;
  --vp-filter-dropdown--items__text-transform: uppercase;
  --vp-filter-dropdown--items__letter-spacing: 0.015em;
  --vp-filter-dropdown--items__height: auto;
  --vp-filter-dropdown--items__color: var(--vp-color-gray);
  --vp-filter-dropdown--items__background-color: var(--vp-color-gray-lighten);
  --vp-filter-dropdown--items__border-radius: var(--vp-border-radius);
  --vp-filter-dropdown--items__arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  --vp-filter-dropdown--items__arrow-size: 0.6em;
  --vp-filter-dropdown--items-hover__color: var(--vp-color-gray-darken);
  --vp-filter-dropdown--items-hover__background-color: var(--vp-color-gray-light);
  --vp-filter-dropdown-transition-duration: var(--vp-interactive__transition-duration);
  --vp-filter-dropdown-transition-easing: var(--vp-interactive__transition-easing);
}

/**
 * Dropdown filter style
 */
.vp-filter__style-dropdown {
  display: flex;
  flex-wrap: wrap;
  gap: var(--vp-filter-dropdown--items__gap);
}
.vp-filter__style-dropdown select {
  display: block;
  flex: 0 0 auto;
  min-width: var(--vp-filter-dropdown--items__min-width);
  max-width: 100%;
  height: var(--vp-filter-dropdown--items__height);
  padding: var(--vp-filter-dropdown--items__padding-v) var(--vp-filter-dropdown--items__padding-h);
  padding-left: calc(var(--vp-filter-dropdown--items__padding-right) + var(--vp-filter-dropdown--items__arrow-size));
  font-size: var(--vp-filter-dropdown--items__font-size);
  font-weight: var(--vp-filter-dropdown--items__font-weight);
  line-height: var(--vp-filter-dropdown--items__line-height);
  color: var(--vp-filter-dropdown--items__color);
  -webkit-text-decoration: var(--vp-filter-dropdown--items__text-decoration);
          text-decoration: var(--vp-filter-dropdown--items__text-decoration);
  text-transform: var(--vp-filter-dropdown--items__text-transform);
  letter-spacing: var(--vp-filter-dropdown--items__letter-spacing);
  background-color: var(--vp-filter-dropdown--items__background-color);
  background-image: var(--vp-filter-dropdown--items__arrow);
  background-repeat: no-repeat;
  background-position: left var(--vp-filter-dropdown--items__padding-right) center;
  background-size: var(--vp-filter-dropdown--items__arrow-size);
  border: none;
  border-radius: var(--vp-filter-dropdown--items__border-radius);
  transition: var(--vp-filter-dropdown-transition-duration) background-color var(--vp-filter-dropdown-transition-easing), var(--vp-filter-dropdown-transition-duration) color var(--vp-filter-dropdown-transition-easing);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.vp-filter__style-dropdown select:hover, .vp-filter__style-dropdown select:focus {
  color: var(--vp-filter-dropdown--items-hover__color);
  background-color: var(--vp-filter-dropdown--items-hover__background-color);
}
