// Pagination block.
.vp-block-filter-by-category {
	font-size: var(--wp--preset--font-size--medium, 1rem);
	font-weight: 500;
}

// Count.
.vp-block-filter-by-category-count {
	display: inline-block;
	margin-left: 0.6ch;

	&::before {
		content: "(";
	}
	&::after {
		content: ")";
	}
}

// Fill style.
.is-style-fill {
	&.vp-block-filter-by-category {
		gap: 0;

		a {
			text-decoration: none;
		}
	}

	.vp-block-filter-by-category-item {
		border-radius: 9999px;
		padding: 0.3em 0.8em;
		background-color: transparent;
		text-decoration: none;
		font-weight: 400;

		&:hover,
		&:focus {
			opacity: 0.6;
		}

		&.is-active {
			background-color: color-mix(in srgb, currentColor 10%, transparent);
		}
	}
}
