/**
 * Default items style
 */
.vp-portfolio__items-style-default {
    .vp-portfolio__item a {
        outline: none;
        box-shadow: none;
    }

    // Transitions
    .vp-portfolio__item-img img {
        transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    }
    .vp-portfolio__item:hover {
        .vp-portfolio__item-img img {
            transform: scale(1.1);
        }
    }

    // meta
    .vp-portfolio__item-meta {
        position: relative;
        padding: 10px 15px;

        * + * {
            margin-top: 4px;
        }
    }
    .vp-portfolio__item-meta-title {
        font-size: 1.3em;
        margin-bottom: 0;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: #007acc;
            }
        }
    }
    .vp-portfolio__item-meta-date {
        font-size: 0.85em;
    }
    .vp-portfolio__item-meta-categories {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        left: 0;
        bottom: 100%;
        margin: 0;
        padding: 15px 10px;

        .vp-portfolio__item-meta-category {
            margin: 0 5px;
            padding: 0;

            a {
                display: block;
                padding: 4px 15px;
                background-color: #3c3c3c;
                color: #fff;
                text-decoration: none;
                transition: .2s background-color;

                &:hover {
                    background-color: #545454;
                }
            }
        }
    }
    .vp-portfolio__item-meta-excerpt {
        opacity: 0.8;
    }

    // align
    .vp-portfolio__item-align-left {
        text-align: left;
    }
    .vp-portfolio__item-align-center {
        text-align: center;
    }
    .vp-portfolio__item-align-right {
        text-align: right;
    }
}