@import "./variables";

/**
 * Default items style
 */
.vp-portfolio__items-style-default {
    .vp-portfolio__item a {
        color: var(--vp-items-style-default--links__color);
        text-decoration: var(--vp-items-style-default--links__text-decoration);
        outline: none;
        box-shadow: none;
        transition: var(--vp-items-style-default-transition-duration) color var(--vp-items-style-default-transition-easing);

        &:hover,
        &:focus {
            color: var(--vp-items-style-default--links-hover__color);
        }
    }

    // Transitions
    .vp-portfolio__item-img {
        overflow: hidden;
    }
    .vp-portfolio__item-img img {
        transition: var(--vp-items-style-default-transition-duration) transform var(--vp-items-style-default-transition-easing), var(--vp-items-style-default-transition-duration) opacity var(--vp-items-style-default-transition-easing);
        will-change: transform, opacity;
    }
    .vp-portfolio__item:hover,
    .vp-portfolio__item:focus {
        .vp-portfolio__item-img img {
            transform: var(--vp-items-style-default--image-hover__transform);
        }
    }

    // fix some themes figcaption styles.
    figcaption.vp-portfolio__item-overlay {
        font-style: inherit;
        color: inherit;
    }

    // meta
    .vp-portfolio__item-meta {
        position: relative;
        padding: var(--vp-items-style-default--meta__padding-v) var(--vp-items-style-default--meta__padding-h);

        > * {
            margin-bottom: var(--vp-items-style-default--meta-items__gap);
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
    .vp-portfolio__item-meta-categories {
        display: inline-flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: calc(-1 * var(--vp-items-style-default--meta-categories__gap));
        font-size: var(--vp-items-style-default--meta-categories__font-size);
        font-weight: var(--vp-items-style-default--meta-categories__font-weight);
        text-transform: var(--vp-items-style-default--meta-categories__text-transform);
        list-style-type: none;
        opacity: var(--vp-items-style-default--meta-categories__opacity);

        .vp-portfolio__item-meta-category {
            display: flex;
            padding: 0;
            margin: 0;
            margin-left: var(--vp-items-style-default--meta-categories__gap);

            &::after {
                content: var(--vp-items-style-default--meta-categories__separator);
            }
            &:last-of-type::after {
                content: none;
            }

            a {
                text-decoration: var(--vp-items-style-default--meta-categories__text-decoration);
            }
        }
    }
    .vp-portfolio__item-meta-title {
        margin-right: 0;
        margin-left: 0;
        font-size: var(--vp-items-style-default--meta-title__font-size);
    }
    .vp-portfolio__item-meta-inline {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: calc(-1 * var(--vp-items-style-default--meta-inline__gap));
        font-weight: var(--vp-items-style-default--meta-inline__font-weight);
        line-height: var(--vp-items-style-default--meta-inline__line-height);
        opacity: var(--vp-items-style-default--meta-inline__font-opacity);

        > * {
            margin-left: var(--vp-items-style-default--meta-inline__gap);
        }
    }
    .vp-portfolio__item-meta-part {
        display: inline-flex;
        align-items: center;
    }
    .vp-portfolio__item-meta-part-icon {
        margin-right: var(--vp-items-style-default--meta-part-icon__offset);
    }
    .vp-portfolio__item-meta-author {
        display: flex;
        align-items: center;

        img {
            width: 1em;
            height: auto;
            border-radius: 1em;
        }
    }
    .vp-portfolio__item-meta-excerpt {
        line-height: var(--vp-items-style-default--meta-excerpt__line-height);
        opacity: var(--vp-items-style-default--meta-excerpt__opacity);
    }
    .vp-portfolio__item-meta-read-more {
        display: inline-block;
    }

    // align
    .vp-portfolio__item-align-left {
        text-align: left;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: flex-start;
        }
    }
    .vp-portfolio__item-align-center {
        text-align: center;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: center;
        }
    }
    .vp-portfolio__item-align-right {
        text-align: right;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: flex-end;
        }
    }
}
