/**
 * Items Style Fade CSS Variables
 */
.vp-portfolio__items-style-fade {
    // Links.
    --vp-items-style-fade--links__text-decoration: none;

    // Image.
    --vp-items-style-fade--image-hover__transform: scale(1.05);

    // Overlay.
    --vp-items-style-fade--overlay__text-decoration: none;
    --vp-items-style-fade--overlay__color: #fff;
    --vp-items-style-fade--overlay__background-color: var(--vp-color-brand);

    // Meta.
    --vp-items-style-fade--meta__padding-v: 2em;
    --vp-items-style-fade--meta__padding-h: 2em;
    --vp-items-style-fade--meta__transform: translateY(10px);
    --vp-items-style-fade--meta-items__gap: 1.5em;

    // Meta Icon.
    --vp-items-style-fade--meta-icon__font-size: 2em;

    // Meta Categories.
    --vp-items-style-fade--meta-categories__font-size: .9em;
    --vp-items-style-fade--meta-categories__font-weight: 500;
    --vp-items-style-fade--meta-categories__text-transform: uppercase;
    --vp-items-style-fade--meta-categories__text-decoration: none;
    --vp-items-style-fade--meta-categories__opacity: .8;
    --vp-items-style-fade--meta-categories__gap: 5px;
    --vp-items-style-fade--meta-categories__separator: ", ";

    // Meta Date.
    --vp-items-style-fade--meta-date__font-weight: 400;
    --vp-items-style-fade--meta-date__font-opacity: .8;

    // Meta Title.
    --vp-items-style-fade--meta-title__font-size: 1.3em;

    // Meta Excerpt.
    --vp-items-style-fade--meta-excerpt__line-height: 1.5;
    --vp-items-style-fade--meta-excerpt__opacity: .8;

    // Transitions.
    --vp-items-style-fade-transition-duration: var(--vp-interactive__transition-duration);
    --vp-items-style-fade-transition-easing: var(--vp-interactive__transition-easing);
}
