@import "./variables";

/**
 * Fade items style
 */
.vp-portfolio__items-style-fade {
    .vp-portfolio__item a {
        text-decoration: var(--vp-items-style-fade--links__text-decoration);
        outline: none;
        box-shadow: none;
    }

    .vp-portfolio__item-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: var(--vp-items-style-fade--overlay__color);
        text-decoration: var(--vp-items-style-fade--overlay__text-decoration);
        background-color: var(--vp-items-style-fade--overlay__background-color);
        opacity: 0;
        transition: var(--vp-items-style-fade-transition-duration) opacity var(--vp-items-style-fade-transition-easing);
        will-change: opacity;

        // Fix FireFox image blinking
        // https://github.com/nk-o/visual-portfolio/issues/92
        z-index: 2;
    }

    // fix some themes figcaption styles.
    figcaption.vp-portfolio__item-overlay {
        margin: 0;
        font-style: inherit;
        color: var(--vp-items-style-fade--overlay__color);
    }

    // meta
    .vp-portfolio__item-meta {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: var(--vp-items-style-fade--meta__padding-v) var(--vp-items-style-fade--meta__padding-h);
        overflow: auto;
        color: inherit;
        text-align: center;
        opacity: 0;
        transition: var(--vp-items-style-fade-transition-duration) transform .05s var(--vp-items-style-fade-transition-easing), var(--vp-items-style-fade-transition-duration) opacity .05s var(--vp-items-style-fade-transition-easing);
        transform: var(--vp-items-style-fade--meta__transform);
        will-change: transform, opacity;

        > * {
            max-width: 100%;
            margin-bottom: var(--vp-items-style-fade--meta-items__gap);
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
    .vp-portfolio__item-meta-icon {
        font-size: var(--vp-items-style-fade--meta-icon__font-size);
    }
    .vp-portfolio__item-meta-categories {
        display: inline-flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--vp-items-style-fade--meta-categories__gap));
        font-size: var(--vp-items-style-fade--meta-categories__font-size);
        font-weight: var(--vp-items-style-fade--meta-categories__font-weight);
        text-transform: var(--vp-items-style-fade--meta-categories__text-transform);
        opacity: var(--vp-items-style-fade--meta-categories__opacity);

        .vp-portfolio__item-meta-category {
            display: flex;
            margin-left: var(--vp-items-style-fade--meta-categories__gap);

            @if variable-exists(rtl) and $rtl {
                &::before {
                    content: var(--vp-items-style-fade--meta-categories__separator);
                }
                &:first-of-type::before {
                    content: none;
                }
            } @else {
                &::after {
                    content: var(--vp-items-style-fade--meta-categories__separator);
                }
                &:last-of-type::after {
                    content: none;
                }
            }

            a {
                text-decoration: var(--vp-items-style-fade--meta-categories__text-decoration);
            }
        }
    }
    .vp-portfolio__item-meta-title {
        margin-right: 0;
        margin-left: 0;
        font-size: var(--vp-items-style-fade--meta-title__font-size);
        color: inherit;
    }
    .vp-portfolio__item-meta-inline {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: calc(-1 * var(--vp-items-style-fade--meta-inline__gap));
        font-weight: var(--vp-items-style-fade--meta-inline__font-weight);
        line-height: var(--vp-items-style-fade--meta-inline__line-height);
        opacity: var(--vp-items-style-fade--meta-inline__font-opacity);

        > * {
            margin-left: var(--vp-items-style-fade--meta-inline__gap);
        }
    }
    .vp-portfolio__item-meta-part-icon {
        margin-right: var(--vp-items-style-fade--meta-part-icon__offset);
    }
    .vp-portfolio__item-meta-author {
        display: flex;
        align-items: center;

        img {
            width: 1em;
            height: auto;
            border-radius: 1em;
        }
    }
    .vp-portfolio__item-meta-excerpt {
        line-height: var(--vp-items-style-fade--meta-excerpt__line-height);
        opacity: var(--vp-items-style-fade--meta-excerpt__opacity);
    }

    // Transitions
    .vp-portfolio__item-img img {
        transition: var(--vp-items-style-fade-transition-duration) transform var(--vp-items-style-fade-transition-easing), var(--vp-items-style-fade-transition-duration) opacity var(--vp-items-style-fade-transition-easing);
        will-change: transform, opacity;

        // Fix FireFox image blinking
        // https://github.com/nk-o/visual-portfolio/issues/92
        z-index: 1;
    }

    // Overlay
    .vp-portfolio__item:hover,
    .vp-portfolio__item-focus {
        .vp-portfolio__item-img img {
            transform: var(--vp-items-style-fade--image-hover__transform);
        }
    }
    // Overlay
    &.vp-portfolio__items-show-overlay-hover .vp-portfolio__item:hover,
    &.vp-portfolio__items-show-overlay-hover .vp-portfolio__item-focus {
        .vp-portfolio__item-overlay {
            opacity: 1;
        }
        .vp-portfolio__item-meta {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &.vp-portfolio__items-show-overlay-default {
        .vp-portfolio__item-overlay {
            opacity: 1;
        }
        .vp-portfolio__item-meta {
            opacity: 1;
            transform: translateY(0);
        }
        .vp-portfolio__item:hover,
        .vp-portfolio__item-focus {
            .vp-portfolio__item-overlay {
                opacity: 0;
            }
            .vp-portfolio__item-meta {
                opacity: 0;
                transform: translateY(10px);
            }
        }
    }
    &.vp-portfolio__items-show-overlay-always {
        .vp-portfolio__item-overlay {
            opacity: 1;
        }
        .vp-portfolio__item-meta {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // align
    .vp-portfolio__item-align-center .vp-portfolio__item-meta {
        align-items: center;
        text-align: center;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: center;
        }
    }
    .vp-portfolio__item-align-left .vp-portfolio__item-meta {
        align-items: flex-start;
        text-align: left;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: flex-start;
        }
    }
    .vp-portfolio__item-align-right .vp-portfolio__item-meta {
        align-items: flex-end;
        text-align: right;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: flex-end;
        }
    }

    .vp-portfolio__item-align-top-center .vp-portfolio__item-meta {
        align-items: center;
        justify-content: flex-start;
        text-align: center;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: center;
        }
    }
    .vp-portfolio__item-align-top-left .vp-portfolio__item-meta {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: flex-start;
        }
    }
    .vp-portfolio__item-align-top-right .vp-portfolio__item-meta {
        align-items: flex-end;
        justify-content: flex-start;
        text-align: right;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: flex-end;
        }
    }

    .vp-portfolio__item-align-bottom-center .vp-portfolio__item-meta {
        align-items: center;
        justify-content: flex-end;
        text-align: center;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: center;
        }
    }
    .vp-portfolio__item-align-bottom-left .vp-portfolio__item-meta {
        align-items: flex-start;
        justify-content: flex-end;
        text-align: left;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: flex-start;
        }
    }
    .vp-portfolio__item-align-bottom-right .vp-portfolio__item-meta {
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;

        .vp-portfolio__item-meta-categories,
        .vp-portfolio__item-meta-inline {
            justify-content: flex-end;
        }
    }
}
