/**
 * Fade items style
 */
.vp-portfolio__items-style-fade {
    .vp-portfolio__item a {
        outline: none;
        box-shadow: none;
    }

    .vp-portfolio__item-overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.85);
        color: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        text-decoration: none;
    }

    // Transitions
    .vp-portfolio__item-overlay {
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    }
    .vp-portfolio__item-img img {
        transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    }
    .vp-portfolio__item-meta {
        transform: scale(0.8);
        transition: transform 1s cubic-bezier(0.07, 0.72, 0.24, 1), opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    }
    & .vp-portfolio__item:hover {
        .vp-portfolio__item-overlay {
            opacity: 1;
        }
        .vp-portfolio__item-meta {
            transform: scale(1);
        }
        .vp-portfolio__item-img img {
            transform: scale(1.1);
        }
    }

    // meta
    .vp-portfolio__item-meta {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        * + * {
            margin-top: 4px;
        }
    }
    .vp-portfolio__item-meta-title {
        color: inherit;
        font-size: 1.3em;
        margin-bottom: 0;
    }
    .vp-portfolio__item-meta-date {
        font-size: 0.85em;
    }
    .vp-portfolio__item-meta-icon {
        font-size: 2em;

        + * {
            margin-top: 15px;
        }
    }
    .vp-portfolio__item-meta-categories {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;

        .vp-portfolio__item-meta-category {
            display: block;
            margin: 0 5px;
            padding: 4px 15px;
            background-color: #3c3c3c;
            color: #fff;
        }
    }
    .vp-portfolio__item-meta-excerpt {
        opacity: 0.8;
    }

    // align
    .vp-portfolio__item-align-left {
        justify-content: flex-start;
        text-align: left;
    }
    .vp-portfolio__item-align-right {
        justify-content: flex-end;
        text-align: right;
    }

    .vp-portfolio__item-align-top-center {
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }
    .vp-portfolio__item-align-top-left {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .vp-portfolio__item-align-top-right {
        justify-content: flex-end;
        align-items: flex-start;
        text-align: right;
    }

    .vp-portfolio__item-align-bottom-center {
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
    .vp-portfolio__item-align-bottom-left {
        justify-content: flex-start;
        align-items: flex-end;
        text-align: left;
    }
    .vp-portfolio__item-align-bottom-right {
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
}