.vpf-component-align-control {
  .vpf-component-align-control-separator {
    width: auto;
    padding: 0;
    pointer-events: none;
    border: none;
    border-right: 1px solid #1e1e1e;
  }

  // This hacky selector is used to override standard styles.
  .components-toolbar-button.has-icon.has-icon {
    min-width: 40px;
    padding-right: 10px;
    padding-left: 10px;

    &::before {
      right: 4px;
      left: 4px;
    }
  }
}
