/**
 * Pagination Minimal CSS Variables
 */
.vp-pagination__style-minimal {
	// Items.
	--vp-pagination-minimal--items__padding-v: 0.7em;
	--vp-pagination-minimal--items__padding-h: 1em;
	--vp-pagination-minimal--items__font-size: 0.9em;
	--vp-pagination-minimal--items__font-weight: 600;
	--vp-pagination-minimal--items__line-height: 1.4;
	--vp-pagination-minimal--items__text-decoration: none;
	--vp-pagination-minimal--items__text-transform: uppercase;
	--vp-pagination-minimal--items__letter-spacing: 0.015em;
	--vp-pagination-minimal--items__color: inherit;
	--vp-pagination-minimal--items-hover__color: var(--vp-color-brand);
	--vp-pagination-minimal--items-active__color: var(--vp-color-brand);

	// Items Paged.
	--vp-pagination-minimal-paged--items-active__padding-v: var(--vp-pagination-minimal--items__padding-v);
	--vp-pagination-minimal-paged--items-active__padding-h: var(--vp-pagination-minimal--items__padding-v);
	--vp-pagination-minimal-paged--items-active__margin-h: calc(var(--vp-pagination-minimal--items__padding-h) / 3);
	--vp-pagination-minimal-paged--items-active__color: #fff;
	--vp-pagination-minimal-paged--items-active__background-color: var(--vp-color-brand);
	--vp-pagination-minimal-paged--items-active__border-radius: 50%;

	// Transitions.
	--vp-pagination-minimal-transition-duration: var(--vp-interactive__transition-duration);
	--vp-pagination-minimal-transition-easing: var(--vp-interactive__transition-easing);

	// Minimal style specific
	.vp-pagination__item > * {
		padding: var(--vp-pagination-minimal--items__padding-v, 0.7em) var(--vp-pagination-minimal--items__padding-h, 1em);
		font-size: var(--vp-pagination-minimal--items__font-size, 0.9em);
		font-weight: var(--vp-pagination-minimal--items__font-weight, 600);
	}
}

/**
 * Pagination Default CSS Variables
 */
.vp-pagination__style-default {
	// Items.
	--vp-pagination-default--items__gap: 10px;
	--vp-pagination-default--items__min-width: 40px;
	--vp-pagination-default--items__padding-v: 0.7em;
	--vp-pagination-default--items__padding-h: 1.3em;
	--vp-pagination-default--items__font-size: 0.9em;
	--vp-pagination-default--items__font-weight: 600;
	--vp-pagination-default--items__line-height: 1.4;
	--vp-pagination-default--items__text-decoration: none;
	--vp-pagination-default--items__text-transform: uppercase;
	--vp-pagination-default--items__letter-spacing: 0.015em;
	--vp-pagination-default--items__color: var(--vp-color-gray);
	--vp-pagination-default--items__background-color: var(--vp-color-gray-lighten);
	--vp-pagination-default--items__border-radius: var(--vp-border-radius);
	--vp-pagination-default--items-hover__color: var(--vp-color-gray-darken);
	--vp-pagination-default--items-hover__background-color: var(--vp-color-gray-light);
	--vp-pagination-default--items-active__color: #fff;
	--vp-pagination-default--items-active__background-color: var(--vp-color-brand);

	// Transitions.
	--vp-pagination-default-transition-duration: var(--vp-interactive__transition-duration);
	--vp-pagination-default-transition-easing: var(--vp-interactive__transition-easing);

	// Classic style specific
	.vp-pagination__item > * {
		min-width: var(--vp-pagination-default--items__min-width, 40px);
		padding: var(--vp-pagination-default--items__padding-v, 0.7em) var(--vp-pagination-default--items__padding-h, 1.3em);
		font-size: var(--vp-pagination-default--items__font-size, 0.9em);
		font-weight: var(--vp-pagination-default--items__font-weight, 600);
		background-color: var(--vp-pagination-default--items__background-color, #f7f7f7);
		border-radius: var(--vp-pagination-default--items__border-radius, 3px);
	}
}


.vp-pagination__style-default,
.vp-pagination__style-minimal {
	// Include essential styles from both CSS files to make the editor preview match the frontend
	display: flex;
	flex-wrap: wrap;

	.vp-pagination__item {
		flex: 0 0 auto;
		text-align: center;
	}

	.vp-pagination__load-more {
		display: block;
		cursor: pointer;
	}

	// show/hide labels
	.vp-pagination__load-more > .vp-pagination__load-more-no-more,
	.vp-pagination__load-more > .vp-pagination__load-more-loading,
	.vp-portfolio__loading & .vp-pagination__load-more > span,
	&.vp-pagination__no-more .vp-pagination__load-more > span,
	.vp-portfolio__loading &.vp-pagination__no-more .vp-pagination__load-more > .vp-pagination__load-more-no-more {
		display: none;
	}

	.vp-pagination__load-more > span,
	.vp-portfolio__loading & .vp-pagination__load-more > .vp-pagination__load-more-loading,
	&.vp-pagination__no-more .vp-pagination__load-more > .vp-pagination__load-more-no-more {
		display: block;
	}
}

.vp-spinner {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-top-color: rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	animation: vp-spinner 0.6s linear infinite;
	margin-right: 10px;
}

@keyframes vp-spinner {
	to {
		transform: rotate(360deg);
	}
}

.editor-styles-wrapper {
	.vp-pagination {
		.vp-pagination__load-more {
			> [data-rich-text-placeholder] {
				padding: 4px;
				border: 1px dashed #ddd;
			}

			// Hide the end list label in normal view
			> .vp-pagination__load-more-no-more {
				display: none;
			}
		}
	}
}

