/* stylelint-disable declaration-no-important */

/**
 * Preview style
 */
html,
body {
    padding: 0 !important;
    margin: 0 !important;
}
body::before {
    content: none !important;
}
#wpadminbar {
    display: none;
}
#vp_preview {
    position: relative;
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
    z-index: 99999;
}
.entry-content {
    padding: 0 !important;
    margin: 0 !important;
}
.vp-portfolio {
    margin-top: 0;
    margin-bottom: 0;
}

// Hide Query Monitor.
#query-monitor-main {
    display: none !important;
}
