/**
* Classic sort style for buttons
*/
.vp-sort.is-style-classic {
	gap: var(--vp-sort-btn-gap);

	/* Frontend styles */
	.vp-sort__item a,
	.vp-sort__item button.vp-sort__item-button {
		min-width: var(--vp-sort-btn-min-width);
		padding: var(--vp-sort-btn-padding-v) var(--vp-sort-btn-padding-h);
		font-size: var(--vp-sort-btn-font-size);
		font-weight: var(--vp-sort-btn-font-weight);
		line-height: var(--vp-sort-btn-line-height);
		text-transform: var(--vp-sort-btn-text-transform);
		letter-spacing: var(--vp-sort-btn-letter-spacing);
		color: var(--vp-color-gray);
		background-color: var(--vp-color-gray-lighten);
		border-radius: var(--vp-border-radius);

		&:hover,
		&:focus {
			color: var(--vp-color-gray-darken);
			background-color: var(--vp-color-gray-light);
		}
	}

	/* Make sure both selectors are consistent */
	.vp-sort__item.vp-sort__item-active a,
	.vp-sort__item.vp-sort__item-active button.vp-sort__item-button {
		color: #fff;
		background-color: var(--vp-color-brand, #118bee);
	}
}
