/**
 * Items Style Emerge CSS Variables
 */
.vp-portfolio__items-style-emerge {
    // Links.
    --vp-items-style-emerge--links__color: inherit;
    --vp-items-style-emerge--links__text-decoration: none;
    --vp-items-style-emerge--links-hover__color: var(--vp-color-brand);

    // Image.
    --vp-items-style-emerge--image__transform: translateY(0);
    --vp-items-style-emerge--image-hover__transform: translateY(-10px);

    // Image Overlay.
    --vp-items-style-emerge--img-overlay__background-color: transparent;

    // Overlay.
    --vp-items-style-emerge--overlay__min-height: 40px;
    --vp-items-style-emerge--overlay__padding-v: 1.5em;
    --vp-items-style-emerge--overlay__padding-h: 2em;
    --vp-items-style-emerge--overlay__color: #fff;
    --vp-items-style-emerge--overlay__background-color: #000;
    --vp-items-style-emerge--overlay-skew__height: 20px;
    --vp-items-style-emerge--overlay-skew__clip-left: var(--vp-items-style-emerge--overlay-skew__height);
    --vp-items-style-emerge--overlay-skew__clip-right: var(--vp-items-style-emerge--overlay-skew__height);
    --vp-items-style-emerge--overlay-skew-hover__clip-left: 0;
    --vp-items-style-emerge--overlay-skew-hover__clip-right: var(--vp-items-style-emerge--overlay-skew__height);

    // Meta.
    --vp-items-style-emerge--meta-items__gap: 1.5em;

    // Meta Categories.
    --vp-items-style-emerge--meta-categories__font-size: .9em;
    --vp-items-style-emerge--meta-categories__font-weight: 500;
    --vp-items-style-emerge--meta-categories__text-transform: uppercase;
    --vp-items-style-emerge--meta-categories__text-decoration: none;
    --vp-items-style-emerge--meta-categories__opacity: .8;
    --vp-items-style-emerge--meta-categories__gap: .4em;
    --vp-items-style-emerge--meta-categories__separator: ", ";

    // Meta Inline.
    --vp-items-style-emerge--meta-inline__font-weight: 400;
    --vp-items-style-emerge--meta-inline__line-height: 2;
    --vp-items-style-emerge--meta-inline__font-opacity: .8;
    --vp-items-style-emerge--meta-inline__gap: 1em;

    // Meta Parts.
    --vp-items-style-emerge--meta-part-icon__offset: .5em;

    // Meta Title.
    --vp-items-style-emerge--meta-title__font-size: 1.3em;

    // Meta Excerpt.
    --vp-items-style-emerge--meta-excerpt__line-height: 1.5;
    --vp-items-style-emerge--meta-excerpt__opacity: .8;

    // Meta Staggering Animation.
    --vp-items-style-emerge--meta-staggering__index: 1;
    --vp-items-style-emerge--meta-staggering__transition-duration: .25s;
    --vp-items-style-emerge--meta-staggering__transition-delay: .07s;
    --vp-items-style-emerge--meta-staggering__transition-easing: cubic-bezier(.25, .46, .45, .94);

    // Transitions.
    --vp-items-style-emerge-transition-duration: var(--vp-interactive__transition-duration);
    --vp-items-style-emerge-transition-easing: var(--vp-interactive__transition-easing);
}
