/**
 * Emerge items style
 */
.vp-portfolio__items-style-emerge {
    .vp-portfolio__item a {
        outline: none;
        box-shadow: none;
    }

    .vp-portfolio__item-overlay {
        position: absolute;
        padding: 15px 32px;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 50%;
        background-color: #fff;
        color: #000;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -20px;
            right: 0;
            height: 600%;
            background-color: inherit;
            z-index: -1;
        }
    }

    // Transitions
    .vp-portfolio__item-img img {
        transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    }
    .vp-portfolio__item-overlay {
        transform: translateY(100%);
        transition: .5s transform cubic-bezier(0.07, 0.72, 0.24, 1);

        &:before {
            transform: rotate(0deg);
            transform-origin: 100% 0;
            transition: .5s transform ease;
        }
    }

    .vp-portfolio__item:hover {
        .vp-portfolio__item-img img {
            transform: scale(1.1);
        }
        .vp-portfolio__item-overlay {
            transform: translateY(0);
            &:before {
                transform: rotate(3deg);
            }
        }
    }

    // meta
    .vp-portfolio__item-meta {

        * + * {
            margin-top: 4px;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                opacity: 0.8;
            }
        }
    }
    .vp-portfolio__item-meta-title {
        color: inherit;
        font-size: 1.3em;
        margin-bottom: 0;
    }
    .vp-portfolio__item-meta-date {
        font-size: 0.85em;
    }
    .vp-portfolio__item-meta-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style-type: none;
        left: 0;
        bottom: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 0;

        .vp-portfolio__item-meta-category {
            margin: 0;
            padding: 0;
        }
        .vp-portfolio__item-meta-category a:after {
            content: ', ';
        }
        .vp-portfolio__item-meta-category:last-of-type a:after {
            content: none;
        }
    }
    .vp-portfolio__item-meta-excerpt {
        opacity: 0.8;
    }

    // align
    .vp-portfolio__item-align-left {
        text-align: left;
    }
    .vp-portfolio__item-align-center {
        text-align: center;

        .vp-portfolio__item-meta-categories {
            justify-content: center;
        }
    }
    .vp-portfolio__item-align-right {
        text-align: right;

        .vp-portfolio__item-meta-categories {
            justify-content: flex-end;
        }
    }
}