/**
 * Emerge items style
 */
.vp-portfolio__items-style-emerge {
    .vp-portfolio__item a {
        outline: none;
        box-shadow: none;
    }

    .vp-portfolio__item-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 50%;
        padding: 15px 32px;
        color: #000;
        background-color: #fff;
        transition: .5s transform cubic-bezier(.07, .72, .24, 1);
        transform: translateY(100%);
        will-change: transform;

        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            left: -20px;
            height: 600%;
            background-color: inherit;
            transition: .5s transform ease;
            transform: rotate(0deg);
            transform-origin: 100% 0;
            will-change: transform;
            z-index: -1;
        }
    }

    // Transitions
    .vp-portfolio__item-img img {
        transition: transform 2s cubic-bezier(.08, .43, .24, 1);
        will-change: transform;
    }

    .vp-portfolio__item:hover {
        .vp-portfolio__item-img img {
            transform: scale(1.1);
        }
        .vp-portfolio__item-overlay {
            transform: translateY(0);
            &::before {
                transform: rotate(3deg);
            }
        }
    }

    // meta
    .vp-portfolio__item-meta {

        * + * {
            margin-top: 4px;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                opacity: .8;
            }
        }
    }
    .vp-portfolio__item-meta-title {
        margin-bottom: 0;
        font-size: 1.3em;
        color: inherit;
    }
    .vp-portfolio__item-meta-date {
        font-size: .85em;
    }
    .vp-portfolio__item-meta-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        bottom: 100%;
        left: 0;
        padding: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        list-style-type: none;

        .vp-portfolio__item-meta-category {
            padding: 0;
            margin: 0;
        }
        .vp-portfolio__item-meta-category a::after {
            content: ", ";
        }
        .vp-portfolio__item-meta-category:last-of-type a::after {
            content: none;
        }
    }
    .vp-portfolio__item-meta-excerpt {
        opacity: .8;
    }

    // align
    .vp-portfolio__item-align-left {
        text-align: left;
    }
    .vp-portfolio__item-align-center {
        text-align: center;

        .vp-portfolio__item-meta-categories {
            justify-content: center;
        }
    }
    .vp-portfolio__item-align-right {
        text-align: right;

        .vp-portfolio__item-meta-categories {
            justify-content: flex-end;
        }
    }
}
