/**
 * Lazyload CSS Variables
 */

:root {
  // Lazy.
  --vp-lazyload-images__background: linear-gradient(270deg, rgba(140, 140, 140, 15%), rgba(140, 140, 140, 5%));
  --vp-lazyload-images__background-second: linear-gradient(90deg, rgba(140, 140, 140, 15%), rgba(140, 140, 140, 5%));
  --vp-lazyload-images__animation-duration: 1.5s;
  --vp-lazyload-images__animation-second-delay: 0.3s;

  // Transitions.
  --vp-lazyload-transition-duration: 0.3s;
  --vp-lazyload-transition-easing: ease-in-out;
}
