/*
 * Visual Portfolio layout Justified.
 */
[data-vp-layout="justified"] {
    .vp-portfolio__items {
        transition: .2s height ease-in-out;
        will-change: height;
    }
    .vp-portfolio__item-wrap {
        float: left;
        top: 0;
        left: 0;
        transition: .2s transform ease-in-out, .2s width ease-in-out, .2s height ease-in-out;
        will-change: transform, width, height;
    }
}
