@import "./variables-main";

/*
 * Visual Portfolio main style.
 */
.vp-portfolio {
    position: relative;
    box-sizing: border-box;
    min-height: var(--vp-wrap__min-height);
    overflow-wrap: break-word;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    // Fixes Swiper box-sizing conflict.
    // https://github.com/nk-o/visual-portfolio/issues/147
    .swiper-wrapper {
        box-sizing: inherit;
    }
}
.vp-portfolio__items {
    transition: var(--vp-transition-duration) height var(--vp-transition-easing), var(--vp-transition-duration) transform var(--vp-transition-easing);
    will-change: height, transform;
}

.vp-portfolio::after,
.vp-portfolio__items::after {
    content: "";
    display: block;
    clear: both;
}

.vp-portfolio__items-wrap,
.vp-portfolio__thumbnails-wrap,
.vp-portfolio__filter-wrap,
.vp-portfolio__sort-wrap,
.vp-portfolio__pagination-wrap,
.vp-portfolio__item {
    position: relative;
    overflow: hidden;
}
.vp-portfolio__items-wrap,
.vp-portfolio__thumbnails-wrap,
.vp-portfolio__layout-elements {
    margin-bottom: var(--vp-elements__gap);
    visibility: hidden;
    opacity: 0;
    transition: var(--vp-transition-duration) opacity, var(--vp-transition-duration) visibility;
    will-change: opacity, visibility;
}
.vp-portfolio > :last-child {
    margin-bottom: 0;
}

.vp-portfolio__item-wrap {
    position: relative;
    float: left;
    width: 33.333%;
}

// icons.
.vp-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: visible;
    font-size: inherit;
    vertical-align: -.125em;
}

// screen readers only.
.vp-screen-reader-text {
    // stylelint-disable-next-line
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-break: normal;
    // stylelint-disable-next-line
    word-wrap: normal !important;
    border: 0;
    clip-path: inset(50%);

    &:focus {
        display: block;
        top: 5px;
        right: 5px;
        width: auto;
        height: auto;
        padding: 15px 23px 14px;
        // stylelint-disable-next-line
        clip: auto !important;
        font-size: 14px;
        font-size: .875rem;
        font-weight: 700;
        line-height: normal;
        color: var(--vp-color-brand);
        text-decoration: none;
        background-color: #f1f1f1;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
        clip-path: none;
        z-index: 100000;
    }
}

// stylelint-disable
// fix for default themes styles.
[data-vp-layout]:not([data-vp-layout="slider"]) .vp-portfolio__item-wrap {
    padding: 0 !important;
    margin: 0 !important;
}
[data-vp-layout="slider"] .vp-portfolio__item-wrap {
    float: none;
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}
// stylelint-enable

.vp-portfolio__item .vp-portfolio__item-img img,
.vp-portfolio__item .vp-portfolio__item-img a,
.vp-portfolio__item .vp-portfolio__thumbnail-img img {
    display: block;
    width: 100%;
    height: auto;
}
.vp-portfolio__item-img,
.vp-portfolio__thumbnail-img {
    position: relative;
}

// layout elements
.vp-portfolio__layout-elements {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + var(--vp-elements__gap));
    margin-top: calc(-1 * var(--vp-elements__gap));
    margin-left: calc(-1 * var(--vp-elements__gap));

    > * {
        margin-top: var(--vp-elements__gap);
        margin-left: var(--vp-elements__gap);
    }

    &-align-left {
        justify-content: flex-start;
    }
    &-align-center {
        justify-content: center;
    }
    &-align-right {
        justify-content: flex-end;
    }
    &-align-between {
        justify-content: space-between;
    }
}

// figures
.vp-portfolio figure.vp-portfolio__item {
    margin: 0;
}
[class^="wp-block-"]:not(.wp-block-gallery) figcaption.vp-portfolio__item-meta,
.vp-portfolio figcaption.vp-portfolio__item-meta {
    margin-bottom: 0;
    font-style: inherit;
}

// Preloader
.vp-portfolio__preloader-wrap {
    visibility: visible;
    opacity: 1;
    transition: var(--vp-transition-duration) opacity, var(--vp-transition-duration) visibility;
    will-change: opacity, visibility;
}
.vp-portfolio__preloader {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: 45px;
    margin-left: -10px;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: -2px;
        left: -2px;
        width: 24px;
        height: 24px;
        text-indent: -9999em;
        border: 1px solid rgba(#000, .2);
        border-left: 1px solid #000;
        border-radius: 50%;
        animation: vp-preloader-spinner .3s infinite linear;
    }
}

@keyframes vp-preloader-spinner {
    100% {
        transform: rotate(360deg);
    }
}

// On loaded portfolio
.vp-portfolio.vp-portfolio__ready {
    min-height: initial;

    .vp-portfolio__items-wrap,
    .vp-portfolio__thumbnails-wrap,
    .vp-portfolio__layout-elements {
        visibility: visible;
        opacity: 1;
    }
    .vp-portfolio__preloader-wrap {
        visibility: hidden;
        opacity: 0;

        .vp-portfolio__preloader {
            animation: none;
        }
    }
}
.vp-single-filter.vp-single-filter__ready {
    .vp-portfolio__filter-wrap {
        visibility: visible;
        opacity: 1;
    }
}
.vp-single-sort.vp-single-sort__ready {
    .vp-portfolio__sort-wrap {
        visibility: visible;
        opacity: 1;
    }
}

// Loading
.vp-portfolio.vp-portfolio__loading .vp-portfolio__layout-elements {
    opacity: .5;
}

// Popup Galleries
.vp-portfolio__item-popup {
    display: none;
}

// LazyLoad image
img.vp-lazyload {
    opacity: 1;
    transition: var(--vp-transition-duration) opacity;
    will-change: opacity;
}
.vp-portfolio__item-img::before,
.vp-portfolio__thumbnail-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--vp-images-lazy__background);
    background-color: var(--vp-images-lazy__background-color);
    background-position: 0% 50%;
    background-size: 500% 100%;
    transition: var(--vp-transition-duration) var(--vp-transition-duration) opacity, var(--vp-transition-duration) var(--vp-transition-duration) visibility;
}
.vp-portfolio__item-img-lazyloading,
.vp-portfolio__thumbnail-img-lazyloading {
    &::before {
        visibility: visible;
        opacity: 1;
        transition: none;
        animation: vp-lazyload-placeholder var(--vp-images-lazy__animation-duration) linear infinite;
    }

    img.vp-lazyload {
        opacity: 0;
    }
}
@keyframes vp-lazyload-placeholder {
    0%,
    80% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// loading spinner.
.vp-spinner {
    position: relative;
    display: block;
    width: var(--vp-spinner__size);
    height: var(--vp-spinner__size);
    text-indent: -9999em;
    border: var(--vp-spinner__border-size) solid transparent;
    border-left: var(--vp-spinner__border-size) solid var(--vp-spinner__color);
    border-radius: 50%;
    animation: vp-spinner var(--vp-spinner__speed) infinite linear;

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: calc(-1 * var(--vp-spinner__border-size));
        right: calc(-1 * var(--vp-spinner__border-size));
        bottom: calc(-1 * var(--vp-spinner__border-size));
        left: calc(-1 * var(--vp-spinner__border-size));
        border: var(--vp-spinner__border-size) solid var(--vp-spinner--background__color);
        border-radius: 50%;
        opacity: var(--vp-spinner--background__opacity);
    }
}
@keyframes vp-spinner {
    100% {
        transform: rotate(360deg);
    }
}
