.vp-portfolio {
    margin-top: 40px;
    margin-bottom: 40px;
}
.vp-portfolio,
.vp-portfolio__items {
    position: relative;
    overflow: hidden;
}
.vp-portfolio,
.vp-portfolio * {
    box-sizing: border-box;
}
.vp-portfolio__items {
    transition: 0.5s height ease-in-out;
}

.vp-portfolio:after,
.vp-portfolio__items:after {
    content: '';
    display: block;
    clear: both;
}

.vp-portfolio__item-wrap {
    position: relative;
    overflow: hidden;
}

.vp-portfolio__item {
    position: relative;
    width: 33.333%;
    float: left;
    opacity: 0;
    visibility: hidden;
    transition: .7s opacity, .7s visibility;
}
.vp-portfolio__item .vp-portfolio__item-img img,
.vp-portfolio__item .vp-portfolio__item-img a {
    display: block;
    width: 100%;
    height: auto;
}

// Preloader
.vp-portfolio__preloader {
    position: absolute;
    visibility: visible;
    left: 50%;
    margin-left: -15px;
    width: 23px;
    height: 24px;
    margin-top: 20px;
    opacity: 0.5;
    transition: .7s opacity, .7s visibility;
    animation: vp-preloader 2s linear infinite;

    span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 10px;
        height: 7px;
        background-color: #8a8a8a;

        &:nth-of-type(1) {
            height: 14px;
        }
        &:nth-of-type(2) {
            left: 12px;
        }
        &:nth-of-type(3) {
            top: 16px;
        }
        &:nth-of-type(4) {
            left: 12px;
            height: 14px;
            top: 9px;
        }
    }
}

@keyframes vp-preloader {
    0%, 100% {
        opacity: 0.5;
    }
    40%, 60% {
        opacity: 1;
    }
}

// Tiles
[data-vp-layout="tiles"] {
    .vp-portfolio__item-img img,
    .vp-portfolio__item-img-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .vp-portfolio__item-img {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        padding-bottom: 56%;
    }
    .vp-portfolio__item-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

// Justified
[data-vp-layout="justified"] {
    .vp-portfolio__item {
        position: absolute;
    }
}

// On loaded portfolio
.vp-portfolio {
    max-height: 65px;
}
.vp-portfolio.vp-portfolio__ready {
    max-height: none;

    .vp-portfolio__item,
    .vp-filter,
    .vp-pagination {
        opacity: 1;
        visibility: visible;
    }
    .vp-portfolio__preloader {
        opacity: 0;
        visibility: hidden;
        animation: none;
    }
}


// Items Default Style
.vp-portfolio__items-style-default {
    .vp-portfolio__item-meta {
        padding: 10px 15px;

        * + * {
            margin-top: 4px;
        }

        .nk-portfolio__item-meta-title {
            font-weight: 500;
            font-size: 16px !important;
            padding: 0 !important;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: #0082b7;
                }
            }
        }
        .vp-portfolio__item-meta-date {
            font-size: 12px;
        }
    }

    // align
    .vp-portfolio__item-align-left {
        text-align: left;
    }
    .vp-portfolio__item-align-center {
        text-align: center;
    }
    .vp-portfolio__item-align-right {
        text-align: right;
    }
}


// Items Fly Style
.vp-portfolio__items-style-fly {
    .vp-portfolio__item-overlay {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        background-color: #212125;
        transform: translateY(-100%) translateX(-100%);
        color: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
    }
    .vp-portfolio__item-meta {
        * + * {
            margin-top: 4px;
        }

        .nk-portfolio__item-meta-title {
            color: inherit;
            font-weight: 500;
            font-size: 16px !important;
            padding: 0 !important;
        }
        .vp-portfolio__item-meta-date {
            font-size: 12px;
        }
    }

    // align
    .vp-portfolio__item-align-left {
        justify-content: flex-start;
        text-align: left;
    }
    .vp-portfolio__item-align-right {
        justify-content: flex-end;
        text-align: right;
    }

    .vp-portfolio__item-align-top-center {
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }
    .vp-portfolio__item-align-top-left {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .vp-portfolio__item-align-top-right {
        justify-content: flex-end;
        align-items: flex-start;
        text-align: right;
    }

    .vp-portfolio__item-align-bottom-center {
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
    .vp-portfolio__item-align-bottom-left {
        justify-content: flex-start;
        align-items: flex-end;
        text-align: left;
    }
    .vp-portfolio__item-align-bottom-right {
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
}


// Items Fade Style
.vp-portfolio__items-style-fade {
    .vp-portfolio__item-overlay {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.85);
        color: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        opacity: 0;
        transition: .3s opacity;
    }
    & .vp-portfolio__item-wrap:hover .vp-portfolio__item-overlay {
        opacity: 1;
    }

    .vp-portfolio__item-meta {
        * + * {
            margin-top: 4px;
        }

        .nk-portfolio__item-meta-title {
            color: inherit;
            font-weight: 500;
            font-size: 16px !important;
            padding: 0 !important;
        }
        .vp-portfolio__item-meta-date {
            font-size: 12px;
        }
    }

    // align
    .vp-portfolio__item-align-left {
        justify-content: flex-start;
        text-align: left;
    }
    .vp-portfolio__item-align-right {
        justify-content: flex-end;
        text-align: right;
    }

    .vp-portfolio__item-align-top-center {
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }
    .vp-portfolio__item-align-top-left {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .vp-portfolio__item-align-top-right {
        justify-content: flex-end;
        align-items: flex-start;
        text-align: right;
    }

    .vp-portfolio__item-align-bottom-center {
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
    .vp-portfolio__item-align-bottom-left {
        justify-content: flex-start;
        align-items: flex-end;
        text-align: left;
    }
    .vp-portfolio__item-align-bottom-right {
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
}


// Filter
.vp-filter {
    opacity: 0;
    visibility: hidden;
    transition: .7s opacity, .7s visibility;
}
.vp-filter__style-default {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: -3px;
    padding: 0;
    margin-bottom: 17px;

    a {
        outline: none;
        box-shadow: none;
    }

    // align
    &.vp-filter__align-left {
        justify-content: flex-start;
    }
    &.vp-filter__align-right {
        justify-content: flex-end;
    }

    .vp-filter__item {
        flex: 0 0 auto;
        list-style-type: none;
        text-align: center;
        margin: 3px;
        padding: 0;

        > * {
            display: block;
            text-decoration: none;
            padding: 8px 14px;
            min-width: 40px;
            line-height: 1.4;
            color: inherit;
            border: 1px solid #eaeaea;
            background-color: #fff;
            transition: .2s border-color, .2s background-color, .2s color;
        }

        &:not(.vp-filter__item-active) > a:hover {
            border-color: #bfbfbf;
        }

        &.vp-filter__item-active > * {
            cursor: default;
            border-color: #0085ba;
            background-color: #0082b7;
            color: #fff;
        }
    }
}


// Pagination
.vp-pagination {
    opacity: 0;
    visibility: hidden;
    transition: .7s opacity, .7s visibility;
}
.vp-pagination__style-default {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: -3px;
    padding: 0;
    margin-top: 17px;

    a {
        outline: none;
        box-shadow: none;
    }

    // align
    &.vp-pagination__align-left {
        justify-content: flex-start;
    }
    &.vp-pagination__align-right {
        justify-content: flex-end;
    }

    .vp-pagination__item {
        flex: 0 0 auto;
        list-style-type: none;
        text-align: center;
        margin: 3px;
        padding: 0;

        > * {
            display: block;
            text-decoration: none;
            padding: 8px 14px;
            min-width: 40px;
            line-height: 1.4;
            color: inherit;
            border: 1px solid #eaeaea;
            background-color: #fff;
            transition: .2s border-color, .2s background-color, .2s color;
        }

        &:not(.vp-pagination__item-active) > a:hover {
            border-color: #bfbfbf;
        }

        &.vp-pagination__item-active > * {
            cursor: default;
            border-color: #0085ba;
            background-color: #0082b7;
            color: #fff;
        }

        &.vp-pagination__item-prev > *,
        &.vp-pagination__item-next > * {
            position: relative;
            font-family: monospace;
        }
    }

    // show/hide labels
    .vp-pagination__load-more .vp-pagination__load-more-no-more,
    .vp-pagination__load-more .vp-pagination__load-more-loading,
    .vp-portfolio__loading & .vp-pagination__load-more span,
    &.vp-pagination__no-more .vp-pagination__load-more span,
    .vp-portfolio__loading &.vp-pagination__no-more .vp-pagination__load-more .vp-pagination__load-more-no-more {
        display: none;
    }
    .vp-pagination__load-more span,
    .vp-portfolio__loading & .vp-pagination__load-more .vp-pagination__load-more-loading,
    &.vp-pagination__no-more .vp-pagination__load-more .vp-pagination__load-more-no-more {
        display: block;
    }

    // disable no more and loading buttons
    &.vp-pagination__no-more .vp-pagination__load-more,
    .vp-portfolio__loading & .vp-pagination__load-more {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
    }
}


// PhotoSwipe
.vp-pswp {
    z-index: 100000;

    .pswp__caption {
        background-color: rgba(0, 0, 0, 0.75);

        > div {
            max-width: 600px;
            color: #fff;
            font-size: 12px;
        }

        a {
            color: inherit;

            &:hover {
                opacity: 0.8;
            }
        }
        .nk-portfolio__item-meta-title {
            color: inherit;
            margin-top: 0;
            margin-bottom: 3px;
            font-size: 14px;

            a {
                text-decoration: none;
            }
        }
    }
}