@import "../../variables";

.vpf-component-notice {
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;

	&.is-info {
		color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
		background-color: rgba(var(--wp-admin-theme-color--rgb), 0.1);

		p {
			color: inherit;
		}
	}

	p:last-of-type {
		margin-bottom: 0 !important;
	}
}
