/**
 * Default pagination style
 */
.vp-pagination__style-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: -3px;
    margin-top: 17px;
    list-style-type: none;

    .vp-pagination__item a {
        outline: none;
        box-shadow: none;
    }

    // align
    &.vp-pagination__align-left {
        justify-content: flex-start;
    }
    &.vp-pagination__align-right {
        justify-content: flex-end;
    }

    .vp-pagination__item {
        flex: 0 0 auto;
        padding: 0;
        margin: 3px;
        text-align: center;
        list-style-type: none;

        > * {
            display: block;
            min-width: 40px;
            padding: 8px 16px;
            line-height: 1.4;
            color: inherit;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #eaeaea;
            transition: .2s border-color, .2s background-color, .2s color;
        }

        &:not(.vp-pagination__item-active) > a:hover {
            border: 1px solid #bfbfbf;
        }

        &.vp-pagination__item-active > * {
            color: #fff;
            cursor: default;
            background-color: #007acc;
            border: 1px solid #007acc;
        }
    }

    // show/hide labels
    .vp-pagination__load-more > .vp-pagination__load-more-no-more,
    .vp-pagination__load-more > .vp-pagination__load-more-loading,
    .vp-portfolio__loading & .vp-pagination__load-more > span,
    &.vp-pagination__no-more .vp-pagination__load-more > span,
    .vp-portfolio__loading &.vp-pagination__no-more .vp-pagination__load-more > .vp-pagination__load-more-no-more {
        display: none;
    }
    .vp-pagination__load-more > span,
    .vp-portfolio__loading & .vp-pagination__load-more > .vp-pagination__load-more-loading,
    &.vp-pagination__no-more .vp-pagination__load-more > .vp-pagination__load-more-no-more {
        display: block;
    }

    // disable no more and loading buttons
    &.vp-pagination__no-more .vp-pagination__load-more,
    .vp-portfolio__loading & .vp-pagination__load-more {
        pointer-events: none;
        cursor: default;
        opacity: .5;
    }
}
