// Fix preview background color.
.vp-preview-body {
	background: none;
}

// Fix headings margin.
.entry-content .vp-portfolio__item-meta-title {
	margin-top: 0;
}

// Fix font family.
.vp-portfolio__item-meta-title,
.vp-filter__item,
.vp-sort__item,
.vp-sort select,
.vp-portfolio__item-meta-category,
.vp-pagination__item {
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}
