/**
 * Items Style Fly CSS Variables
 */
.vp-portfolio__items-style-fly {
  // Links.
  --vp-items-style-fly--links__text-decoration: none;

  // Image.
  --vp-items-style-fly--image__border-radius: 0;

  // Overlay.
  --vp-items-style-fly--overlay__text-decoration: none;
  --vp-items-style-fly--overlay__color: #fff;
  --vp-items-style-fly--overlay__background-color: #000;

  // Meta.
  --vp-items-style-fly--meta__padding-v: 2em;
  --vp-items-style-fly--meta__padding-h: 2em;
  --vp-items-style-fly--meta-items__gap: 1.5em;

  // Meta Icon.
  --vp-items-style-fly--meta-icon__font-size: 2em;

  // Meta Categories.
  --vp-items-style-fly--meta-categories__font-size: 0.9em;
  --vp-items-style-fly--meta-categories__font-weight: 500;
  --vp-items-style-fly--meta-categories__text-transform: uppercase;
  --vp-items-style-fly--meta-categories__text-decoration: none;
  --vp-items-style-fly--meta-categories__opacity: 0.8;
  --vp-items-style-fly--meta-categories__gap: 0.4em;
  --vp-items-style-fly--meta-categories__separator: ", ";

  // Meta Inline.
  --vp-items-style-fly--meta-inline__font-weight: 400;
  --vp-items-style-fly--meta-inline__line-height: 2;
  --vp-items-style-fly--meta-inline__font-opacity: 0.8;
  --vp-items-style-fly--meta-inline__gap: 1em;

  // Meta Parts.
  --vp-items-style-fly--meta-part-icon__offset: 0.5em;

  // Meta Title.
  --vp-items-style-fly--meta-title__font-size: 1.3em;

  // Meta Excerpt.
  --vp-items-style-fly--meta-excerpt__line-height: 1.5;
  --vp-items-style-fly--meta-excerpt__opacity: 0.8;
}
