/**
 * Fly items style
 */
.vp-portfolio__items-style-fly {
    .vp-portfolio__item a {
        outline: none;
        box-shadow: none;
    }

    .vp-portfolio__item-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        text-decoration: none;
        background-color: #212125;
        transform: translateY(-100%) translateX(-100%);
    }

    // fix some themes figcaption styles.
    figcaption.vp-portfolio__item-overlay {
        font-style: inherit;
        color: #fff;
    }

    // meta
    .vp-portfolio__item-meta {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: inherit;

        > * + * {
            margin-top: 4px;
        }
    }
    .vp-portfolio__item-meta-title {
        margin-bottom: 0;
        font-size: 1.3em;
        color: inherit;
    }
    .vp-portfolio__item-meta-date {
        font-size: .85em;
    }
    .vp-portfolio__item-meta-icon {
        font-size: 2em;

        + * {
            margin-top: 15px;
        }
    }
    .vp-portfolio__item-meta-categories {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        left: 0;
        padding: 15px 10px;
        margin: 0;
        list-style-type: none;

        .vp-portfolio__item-meta-category {
            display: block;
            padding: 4px 15px;
            margin: 0 5px;
            color: #fff;
            background-color: #3c3c3c;
        }
    }
    .vp-portfolio__item-meta-excerpt {
        opacity: .8;
    }

    // align
    .vp-portfolio__item-align-center .vp-portfolio__item-meta {
        align-items: center;
        text-align: center;
    }
    .vp-portfolio__item-align-left .vp-portfolio__item-meta {
        align-items: flex-start;
        text-align: left;
    }
    .vp-portfolio__item-align-right .vp-portfolio__item-meta {
        align-items: flex-end;
        text-align: right;
    }

    .vp-portfolio__item-align-top-center .vp-portfolio__item-meta {
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }
    .vp-portfolio__item-align-top-left .vp-portfolio__item-meta {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    .vp-portfolio__item-align-top-right .vp-portfolio__item-meta {
        align-items: flex-end;
        justify-content: flex-start;
        text-align: right;
    }

    .vp-portfolio__item-align-bottom-center .vp-portfolio__item-meta {
        align-items: center;
        justify-content: flex-end;
        text-align: center;
    }
    .vp-portfolio__item-align-bottom-left .vp-portfolio__item-meta {
        align-items: flex-start;
        justify-content: flex-end;
        text-align: left;
    }
    .vp-portfolio__item-align-bottom-right .vp-portfolio__item-meta {
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
    }
}
