/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/templates/items-list/pagination/minimal/style.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Pagination Minimal CSS Variables
 */
.vp-pagination__style-minimal {
  --vp-pagination-minimal--items__padding-v: 0.7em;
  --vp-pagination-minimal--items__padding-h: 1em;
  --vp-pagination-minimal--items__font-size: 0.9em;
  --vp-pagination-minimal--items__font-weight: 600;
  --vp-pagination-minimal--items__line-height: 1.4;
  --vp-pagination-minimal--items__text-decoration: none;
  --vp-pagination-minimal--items__text-transform: uppercase;
  --vp-pagination-minimal--items__letter-spacing: 0.015em;
  --vp-pagination-minimal--items__color: inherit;
  --vp-pagination-minimal--items-hover__color: var(--vp-color-brand);
  --vp-pagination-minimal--items-active__color: var(--vp-color-brand);
  --vp-pagination-minimal-paged--items-active__padding-v: var(--vp-pagination-minimal--items__padding-v);
  --vp-pagination-minimal-paged--items-active__padding-h: var(--vp-pagination-minimal--items__padding-v);
  --vp-pagination-minimal-paged--items-active__margin-h: calc(var(--vp-pagination-minimal--items__padding-h) / 3);
  --vp-pagination-minimal-paged--items-active__color: #fff;
  --vp-pagination-minimal-paged--items-active__background-color: var(--vp-color-brand);
  --vp-pagination-minimal-paged--items-active__border-radius: 50%;
  --vp-pagination-minimal-transition-duration: var(--vp-interactive__transition-duration);
  --vp-pagination-minimal-transition-easing: var(--vp-interactive__transition-easing);
}

/**
 * Minimal pagination style
 */
.vp-pagination__style-minimal {
  display: flex;
  flex-wrap: wrap;
}
.vp-pagination__style-minimal .vp-pagination__item a {
  outline: none;
  box-shadow: none;
}
.vp-portfolio__layout-elements-align-left .vp-pagination__style-minimal {
  justify-content: flex-start;
}
.vp-portfolio__layout-elements-align-center .vp-pagination__style-minimal {
  justify-content: center;
}
.vp-portfolio__layout-elements-align-right .vp-pagination__style-minimal {
  justify-content: flex-end;
}
.vp-pagination__style-minimal .vp-pagination__item {
  flex: 0 0 auto;
  text-align: center;
}
.vp-pagination__style-minimal .vp-pagination__item > * {
  display: block;
  padding: var(--vp-pagination-minimal--items__padding-v) var(--vp-pagination-minimal--items__padding-h);
  font-size: var(--vp-pagination-minimal--items__font-size);
  font-weight: var(--vp-pagination-minimal--items__font-weight);
  line-height: var(--vp-pagination-minimal--items__line-height);
  color: var(--vp-pagination-minimal--items__color);
  -webkit-text-decoration: var(--vp-pagination-minimal--items__text-decoration);
          text-decoration: var(--vp-pagination-minimal--items__text-decoration);
  text-transform: var(--vp-pagination-minimal--items__text-transform);
  letter-spacing: var(--vp-pagination-minimal--items__letter-spacing);
  transition: var(--vp-pagination-minimal-transition-duration) color var(--vp-pagination-minimal-transition-easing);
}
.vp-pagination__style-minimal .vp-pagination__item > a:hover,
.vp-pagination__style-minimal .vp-pagination__item > a:focus {
  color: var(--vp-pagination-minimal--items-hover__color);
}
.vp-pagination__style-minimal .vp-pagination__item.vp-pagination__item-active {
  --vp-pagination-minimal--items__color: var(--vp-pagination-minimal--items-active__color);
  --vp-pagination-minimal--items-hover__color: var(--vp-pagination-minimal--items-active__color);
}
.vp-pagination__style-minimal .vp-pagination__item.vp-pagination__item-active > * {
  cursor: default;
}
.vp-pagination__style-minimal .vp-pagination__load-more > .vp-pagination__load-more-no-more,
.vp-pagination__style-minimal .vp-pagination__load-more > .vp-pagination__load-more-loading, .vp-portfolio__loading .vp-pagination__style-minimal .vp-pagination__load-more > span, .vp-pagination__style-minimal.vp-pagination__no-more .vp-pagination__load-more > span, .vp-portfolio__loading .vp-pagination__style-minimal.vp-pagination__no-more .vp-pagination__load-more > .vp-pagination__load-more-no-more {
  display: none;
}
.vp-pagination__style-minimal .vp-pagination__load-more > span, .vp-portfolio__loading .vp-pagination__style-minimal .vp-pagination__load-more > .vp-pagination__load-more-loading, .vp-pagination__style-minimal.vp-pagination__no-more .vp-pagination__load-more > .vp-pagination__load-more-no-more {
  display: block;
}
.vp-pagination__style-minimal.vp-pagination__no-more .vp-pagination__load-more, .vp-portfolio__loading .vp-pagination__style-minimal .vp-pagination__load-more {
  pointer-events: none;
  cursor: default;
  background-color: transparent;
  border: none;
  transition: none;
}
.vp-pagination__style-minimal.vp-pagination__no-more .vp-pagination__load-more {
  opacity: 0.5;
}
.vp-pagination__style-minimal[data-vp-pagination-type=paged] .vp-pagination__item-active {
  position: relative;
  margin-left: var(--vp-pagination-minimal-paged--items-active__margin-h);
  margin-right: var(--vp-pagination-minimal-paged--items-active__margin-h);
}
.vp-pagination__style-minimal[data-vp-pagination-type=paged] .vp-pagination__item-active > img {
  width: auto;
  max-width: none;
  height: 100%;
  padding: 0;
  text-align: right;
  opacity: 0;
}
.vp-pagination__style-minimal[data-vp-pagination-type=paged] .vp-pagination__item-active > img + span {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  height: 100%;
  padding: var(--vp-pagination-minimal-paged--items-active__padding-v) var(--vp-pagination-minimal-paged--items-active__padding-h);
  color: var(--vp-pagination-minimal-paged--items-active__color);
  background-color: var(--vp-pagination-minimal-paged--items-active__background-color);
  border-radius: var(--vp-pagination-minimal-paged--items-active__border-radius);
}
