/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./templates/items-list/sort/style.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/**
 * Sort Default CSS Variables
 */
.vp-sort__style-default {
  --vp-sort-default--items__gap: 10px;
  --vp-sort-default--items__min-width: 40px;
  --vp-sort-default--items__padding-v: 0.7em;
  --vp-sort-default--items__padding-h: 1.3em;
  --vp-sort-default--items__font-size: 0.9em;
  --vp-sort-default--items__font-weight: 600;
  --vp-sort-default--items__line-height: 1.4;
  --vp-sort-default--items__text-decoration: none;
  --vp-sort-default--items__text-transform: uppercase;
  --vp-sort-default--items__letter-spacing: 0.015em;
  --vp-sort-default--items__color: var(--vp-color-gray);
  --vp-sort-default--items__background-color: var(--vp-color-gray-lighten);
  --vp-sort-default--items__border-radius: var(--vp-border-radius);
  --vp-sort-default--items-hover__color: var(--vp-color-gray-darken);
  --vp-sort-default--items-hover__background-color: var(--vp-color-gray-light);
  --vp-sort-default--items-active__color: #fff;
  --vp-sort-default--items-active__background-color: var(--vp-color-brand);
  --vp-sort-default--items-count__offset: 8px;
  --vp-sort-default--items-count__font-size: 0.6em;
  --vp-sort-default-transition-duration: var(--vp-interactive__transition-duration);
  --vp-sort-default-transition-easing: var(--vp-interactive__transition-easing);
}

/**
 * Default sort style
 */
.vp-sort__style-default {
  display: flex;
  flex-wrap: wrap;
  gap: var(--vp-sort-default--items__gap);
}
.vp-sort__style-default .vp-sort__item a {
  outline: none;
  box-shadow: none;
}
.vp-portfolio__layout-elements-align-left .vp-sort__style-default {
  justify-content: flex-start;
}
.vp-portfolio__layout-elements-align-center .vp-sort__style-default {
  justify-content: center;
}
.vp-portfolio__layout-elements-align-right .vp-sort__style-default {
  justify-content: flex-end;
}
.vp-sort__style-default .vp-sort__item {
  flex: 0 0 auto;
  max-width: 100%;
  text-align: center;
}
.vp-sort__style-default .vp-sort__item > * {
  display: block;
  min-width: var(--vp-sort-default--items__min-width);
  padding: var(--vp-sort-default--items__padding-v) var(--vp-sort-default--items__padding-h);
  font-size: var(--vp-sort-default--items__font-size);
  font-weight: var(--vp-sort-default--items__font-weight);
  line-height: var(--vp-sort-default--items__line-height);
  color: var(--vp-sort-default--items__color);
  -webkit-text-decoration: var(--vp-sort-default--items__text-decoration);
          text-decoration: var(--vp-sort-default--items__text-decoration);
  text-transform: var(--vp-sort-default--items__text-transform);
  letter-spacing: var(--vp-sort-default--items__letter-spacing);
  background-color: var(--vp-sort-default--items__background-color);
  border-radius: var(--vp-sort-default--items__border-radius);
  transition: var(--vp-sort-default-transition-duration) background-color var(--vp-sort-default-transition-easing), var(--vp-sort-default-transition-duration) color var(--vp-sort-default-transition-easing);
}
.vp-sort__style-default .vp-sort__item > a:hover,
.vp-sort__style-default .vp-sort__item > a:focus {
  color: var(--vp-sort-default--items-hover__color);
  background-color: var(--vp-sort-default--items-hover__background-color);
}
.vp-sort__style-default .vp-sort__item.vp-sort__item-active {
  --vp-sort-default--items__color: var(--vp-sort-default--items-active__color);
  --vp-sort-default--items__background-color: var(--vp-sort-default--items-active__background-color);
  --vp-sort-default--items-hover__color: var(--vp-sort-default--items-active__color);
  --vp-sort-default--items-hover__background-color: var(--vp-sort-default--items-active__background-color);
}
.vp-sort__style-default .vp-sort__item.vp-sort__item-active > * {
  cursor: default;
}
.vp-sort__style-default .vp-sort__item .vp-sort__item-count {
  float: left;
  margin-right: var(--vp-sort-default--items-count__offset);
  font-size: var(--vp-sort-default--items-count__font-size);
}
