.vpf-control-wrap-color {
    .vpf-control-wrap-color + .vpf-control-wrap-color {
        margin-top: -5px;
    }

    > .components-base-control__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .components-color-palette__item-wrapper {
            margin: 0;
        }
    }

    .components-circular-option-picker__option {
        color: transparent;
    }
}
.vpf-component-color-picker {
    .vpf-component-color-picker-palette {
        margin: 0 17px;
    }
    .components-color-palette {
        margin: 0;
    }
}
