/**
 * Gutenberg Block Styles
 */
.wp-block-nk-visual-portfolio {
    flex-direction: row;
    justify-content: flex-start;
    min-height: 0;
    padding: 14px;
    background-color: #f8f9f9;

    .components-placeholder__label {
        flex: 1;
        justify-content: flex-start;
        margin-right: 14px;
        margin-bottom: 0;

        ~ * {
            width: auto;
        }
    }

    .visual-portfolio-gutenberg-icon {
        width: 23px;
        height: 23px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .components-placeholder__fieldset {
        align-items: center;
        justify-content: flex-start;

        > a {
            margin-right: 10px;
        }
    }

    .spinner,
    .components-base-control {
        margin: 0;
    }
}

// icon
img.visual-portfolio-gutenberg-icon {
    pointer-events: none;

    .editor-default-block-appender .editor-inserter-with-shortcuts .components-icon-button & {
        opacity: .4;
        transition: .2s opacity;
    }
    .editor-default-block-appender:hover .editor-inserter-with-shortcuts .components-icon-button & {
        opacity: 1;
    }


    .editor-inserter__block & {
        opacity: .6;
    }

    .editor-block-inspector__card-icon & {
        width: 100%;
        opacity: .6;
    }

    .editor-inserter__block:not(:disabled):hover &,
    .editor-inserter__block:not(:disabled).is-active &,
    .editor-inserter__block:not(:disabled):active &,
    .editor-inserter__block:not(:disabled):focus & {
        opacity: 1;
    }
}
