/*!
 * Name    : Visual Portfolio
 * Version : @@plugin_version
 * Author  : nK https://nkdev.info
 */

/**
 * Plugin Icon
 */
.dashicons-visual-portfolio,
.dashicons-visual-portfolio-gray,
.mce-widget .mce-i-visual-portfolio {
    background-image: url("../images/icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    opacity: .6;
}
.mce-widget .mce-i-visual-portfolio {
    background-image: url("../images/icon-mce.svg");
    opacity: 1;
}
.menu-top.current .dashicons-visual-portfolio,
.menu-top:hover .dashicons-visual-portfolio,
.wp-has-current-submenu .dashicons-visual-portfolio {
    opacity: 1;
}
.dashicons-visual-portfolio-gray,
.mce-i-visual-portfolio-gray {
    background-image: url("../images/icon-gray.svg");
}

/**
 * Visual Composer Icon
 */
.vc_element-icon[data-is-container="true"].icon-visual-portfolio,
.vc_element-icon.icon-visual-portfolio {
    background-position: 50% 50%;
}
.vc_element-icon.icon-visual-portfolio,
.vc_control-visual-portfolio {
    position: relative;
    overflow: hidden;
    background-image: url("../images/icon-vc.png");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 3px;
}
.vc_add-element-container .icon-visual-portfolio {
    position: absolute;
}

.vc_control-visual-portfolio {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 2px;
    cursor: pointer;
}
.vc_controls-row .vc_control-visual-portfolio {
    float: right;
    margin: 4px;
}
.vc_control-visual-portfolio-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

/**
 * Grid
 */
$grid_gap: 15px !default;
$grid_sm: 600px !default;
.vp-row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -$grid_gap;
    margin-left: -$grid_gap;
}
.vp-col-1,
.vp-col-2,
.vp-col-3,
.vp-col-4,
.vp-col-5,
.vp-col-6,
.vp-col-7,
.vp-col-8,
.vp-col-9,
.vp-col-10,
.vp-col-11,
.vp-col-12 {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding-right: $grid_gap;
    padding-left: $grid_gap;
    // margin-bottom: $grid_gap * 2;
}

@for $i from 1 through 12 {
    .vp-col-#{$i} {
        flex-basis: 100% * $i / 12;
        max-width: 100% * $i / 12;
    }
}
.vp-col-clearfix {
    flex-basis: 100%;
    max-width: 100%;

    .vp-control-html {
        margin-bottom: 0;
    }
}


/**
 * oEmbed preview
 */
.vp-oembed-preview {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    color: #a2a2a2;
    background-color: #f1f1f1;
    border: 1px solid #e8e8e8;

    &::after {
        content: "\f126";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        // stylelint-disable-next-line
        font-family: dashicons;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        text-decoration: inherit;
        z-index: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

/**
 * Form inputs
 */
.vp-input {
    width: 100%;
}


/**
 * Portfolio Post Type
 */
.vp-portfolio__thumbnail {
    position: relative;
    display: block;
    max-width: 70px;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 3px;

    img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.vp-portfolio__thumbnail:empty {
    background-color: #f1f1f1;
    border: 1px solid #e8e8e8;

    &,
    &:hover,
    &:active,
    &:focus {
        color: #a2a2a2;
    }

    &::after {
        content: "\f128";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        // stylelint-disable-next-line
        font-family: dashicons;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.wp-list-table {
    th.column-portfolio_post_thumbs {
        width: 70px;
    }
    th.column-vp_lists_post_icon {
        width: 40px;
    }
    th.column-vp_lists_post_shortcode {
        width: 250px;
    }

    @media screen and (max-width: 782px) {
        /* Hide column on mobile device */
        th.column-portfolio_post_thumbs,
        th.column-vp_lists_post_icon {
            display: none;
        }
        tr:not(.inline-edit-row):not(.no-items) {
            td.column-portfolio_post_thumbs,
            td.column-vp_lists_post_icon {
                float: left;
                // stylelint-disable-next-line declaration-no-important
                width: 70px !important;
                min-width: 70px;
            }
            td.column-vp_lists_post_icon {
                // stylelint-disable-next-line declaration-no-important
                width: 40px !important;
            }
            td.column-portfolio_post_thumbs::before {
                content: none;
            }
            td.column-title {
                overflow: hidden;
                clear: right;
            }
        }
    }
}

/**
 * Portfolio List page
 */
.vp-portfolio-list__icon {
    position: relative;
    display: block;
    max-width: 70px;
    padding-top: 100%;
    overflow: hidden;
    color: inherit;
    color: #868686;
    background-color: #f1f1f1;
    border: 1px solid #e8e8e8;
    border-radius: 3px;

    &:hover,
    &:active,
    &:focus {
        color: #5f5f5f;
    }

    svg {
        position: absolute;
        display: block;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
        object-fit: cover;
    }
}
.vp-portfolio-list {
    .vp-portfolio-list__icon span {
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-top: 60px;
        background-size: 105px;
    }
    .vp-portfolio-list__text {
        text-align: center;

        p {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 15px;
            font-weight: 500;
            color: #8e8e8e;
        }

        .button-hero {
            display: inline-block;
        }
    }
}
