/*!
 * Name    : Visual Portfolio
 * Version : 1.3.0
 * Author  : nK https://nkdev.info
 */

/**
 * Plugin Icon
 */
.dashicons-visual-portfolio,
.dashicons-visual-portfolio-gray,
.mce-widget .mce-i-visual-portfolio {
    background-image: url('../images/icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
    opacity: 0.6;
}
.mce-widget .mce-i-visual-portfolio {
    background-image: url('../images/icon-mce.svg');
    opacity: 1;
}
.menu-top.current .dashicons-visual-portfolio,
.menu-top:hover .dashicons-visual-portfolio,
.wp-has-current-submenu .dashicons-visual-portfolio {
    opacity: 1;
}
.dashicons-visual-portfolio-gray,
.mce-i-visual-portfolio-gray {
    background-image: url('../images/icon-gray.svg');
}

/**
 * Visual Composer Icon
 */
.vc_element-icon[data-is-container=true].icon-visual-portfolio,
.vc_element-icon.icon-visual-portfolio {
    background-position: 50% 50%;
}
.vc_element-icon.icon-visual-portfolio,
.vc_control-visual-portfolio {
    position: relative;
    background-image: url('../images/icon-vc.png');
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 3px;
    overflow: hidden;
}
.vc_add-element-container .icon-visual-portfolio {
    position: absolute;
}

.vc_control-visual-portfolio {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 2px;
    cursor: pointer;
}
.vc_controls-row .vc_control-visual-portfolio {
    float: right;
    margin: 4px;
}
.vc_control-visual-portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

/**
 * Grid
 */
$grid_gap: 15px;
$grid_sm: 600px;
.vp-row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -$grid_gap;
    margin-left: -$grid_gap;
}
.vp-col-1,
.vp-col-2,
.vp-col-3,
.vp-col-4,
.vp-col-5,
.vp-col-6,
.vp-col-7,
.vp-col-8,
.vp-col-9,
.vp-col-10,
.vp-col-11,
.vp-col-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $grid_gap;
    padding-left: $grid_gap;
    // margin-bottom: $grid_gap * 2;
}

@for $i from 1 through 12 {
    .vp-col-#{$i} {
        flex-basis: 100% * $i / 12;
        max-width: 100% * $i / 12;
    }
}
.vp-col-clearfix {
    flex-basis: 100%;
    max-width: 100%;
}


/**
 * VP Lists creation page restyle.
 */
.post-type-vp_lists.post-php {
    background-color: #EDEFF0;

    // remove paddings and margins from default blocks
    #wpcontent {
        padding-left: 0;
    }
    .wrap {
        margin: 0;
    }
    #poststuff {
        padding-top: 0;
    }
    #wpfooter {
        display: none;
    }
    #wpbody-content {
        padding-bottom: 0;
    }

    #post-body.columns-2 #postbox-container-1 {
        position: fixed;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        width: 300px;
        right: 300px;
        top: 0;
        bottom: 0;

        html.wp-toolbar & {
            top: 32px;
        }

        @media only screen and (max-width: 850px) {
            width: 100%;
            margin-right: 0;
            position: relative;
            right: auto;
            top: auto;
            bottom: auto;
        }
    }
    #poststuff #post-body.columns-2 #side-sortables {
        width: auto;
    }

    // notice
    .notice {
        margin: 0;
        margin-bottom: 1px;
        margin-right: 300px;
        @media only screen and (max-width: 850px) {
            margin-right: 0;
        }
    }

    // widget
    #poststuff .postbox {
        margin-bottom: 0;
        border-color: #e2e4e7;
        border-right: 0;
        border-top: 0;

        > h2 {
            padding: 15px;
            border-bottom: none;
        }
        > .handlediv {
            height: 50px;
        }
        > .inside {
            padding: 15px;
            padding-top: 0;
        }
    }
}


/**
 * Controls
 */
.vp-control {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 19px;

    > label {
        width: 100%;
        margin-bottom: 5px;
    }

    > .vp-control-description {
        width: 100%;
        font-size: 13px;
        font-style: italic;
        margin: 2px 0 5px;
        color: #666;
    }

    // checkbox
    &.vp-control-checkbox,
    &.vp-control-toggle {
        flex-wrap: nowrap;

        > label {
            margin-bottom: 0;
        }
    }

    // textarea
    &.vp-control-textarea textarea {
        width: 100%;
    }
}


/**
 * Image picker
 */
.vp-image-picker {
    display: none;

    &,
    * {
        box-sizing: border-box;
    }

    + ul.thumbnails.image_picker_selector {
        li {
            margin: 0 10px 10px 0;

            .thumbnail {
                cursor: pointer;
                padding: 0;
                border: none;

                img {
                    display: block;
                    border: 2px solid transparent;
                }
            }
            .thumbnail.selected {
                background-color: transparent;

                img {
                    border-color: #0073aa;
                }
            }
        }

        .group_title {
            padding-left: 5px;
            padding-top: 5px;
            font-weight: 500;
        }
    }
}


/**
 * Range Slider
 */
.vp-control-range {
    [type="number"] {
        width: 50px;
        margin-left: 10px;
    }

    [type="range"] {
        flex: 1;
        padding: 0;
        -webkit-appearance: none;
        background: transparent;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            cursor: pointer;
            background: #555d66;
            border: 4px solid transparent;
            background-clip: padding-box;
            box-sizing: border-box;
            margin-top: -7px;
        }

        &::-moz-range-thumb {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            cursor: pointer;
            background: #555d66;
            border: 4px solid transparent;
            background-clip: padding-box;
            box-sizing: border-box;
        }

        &::-ms-thumb {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            cursor: pointer;
            background: #555d66;
            border: 4px solid transparent;
            background-clip: padding-box;
            box-sizing: border-box;
            margin-top: 0;
            height: 14px;
            width: 14px;
            border: 2px solid transparent;
        }

        &:focus {
            outline: none;
        }

        &:focus::-webkit-slider-thumb {
            outline: none;
            color: #191e23;
            box-shadow: inset 0 0 0 1px #6c7781,inset 0 0 0 2px #fff;
        }

        &:focus::-moz-range-thumb {
            outline: none;
            color: #191e23;
            box-shadow: inset 0 0 0 1px #6c7781,inset 0 0 0 2px #fff;
        }

        &:focus::-ms-thumb {
            outline: none;
            color: #191e23;
            box-shadow: inset 0 0 0 1px #6c7781,inset 0 0 0 2px #fff;
        }

        &::-webkit-slider-runnable-track {
            height: 3px;
            cursor: pointer;
            background: #e2e4e7;
            border-radius: 1.5px;
            margin-top: -4px;
        }

        &::-moz-range-track {
            height: 3px;
            cursor: pointer;
            background: #e2e4e7;
            border-radius: 1.5px;
        }

        &::-ms-track {
            margin-top: -4px;
            background: transparent;
            border-color: transparent;
            color: transparent;
            height: 3px;
            cursor: pointer;
            background: #e2e4e7;
            border-radius: 1.5px;
        }
    }
}


/**
 * Toggle
 */
.vp-control-toggle {
    .vp-toggle {
        position: relative;
    }

    .vp-toggle .vp-toggle__track {
        content: "";
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        background-color: #fff;
        border: 2px solid #555d66;
        width: 32px;
        height: 18px;
        border-radius: 9px;
        transition: background .2s ease;
    }

    .vp-toggle:hover .vp-toggle__track {
        background-color: #e2e4e7;
    }

    [type="checkbox"]:checked ~ .vp-toggle__track {
        background-color: #33b3db;
        border: 2px solid #33b3db;
    }

    .vp-toggle .vp-toggle__thumb {
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 2px solid #555d66;
        background: #fff;
        transition: transform .1s ease;
    }

    [type="checkbox"]:focus ~ .vp-toggle__track {
        box-shadow: 0 0 0 1px #fff,0 0 0 2px #33b3db,0 0 2px 2px #33b3db;
    }

    [type="checkbox"]:checked ~ .vp-toggle__thumb {
        border: 2px solid #fff;
        background-color: #00a0d2;
        transform: translateX(14px);
    }

    [type="checkbox"]:focus ~ .vp-toggle__thumb {
        border-width: 5px;
        width: 0;
        height: 0;
    }

    [type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
    }
}


/**
 * Image dropdown
 */
.vp-control-image-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 5px 7px;
    width: 100%;

    &,
    * {
        box-sizing: border-box;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 6px;
        width: 0;
        height: 0;
        margin-top: -2px;
        border-style: solid;
        border-color: #888 transparent transparent transparent;
        border-width: 5px 4px 0 4px;
    }
    &.active:before {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
    }

    .vp-control-image-dropdown__preview {
        display: block;
        flex: 0 0 auto;
        width: 32px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .vp-control-image-dropdown__title {
        flex: 1;
        padding-left: 10px;
    }

    .vp-control-image-dropdown__content {
        display: none;
        position: absolute;
        cursor: default;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        box-shadow: 0 1px 1px rgba(0,0,0,.04);
        top: 100%;
        left: 0;
        max-width: 285px;
        width: 100%;
        margin-left: -1px;
        margin-top: 7px;
        z-index: 1;

        > div {
            overflow: auto;
            width: 100%;
            max-height: 250px;
            padding: 4px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -5px;
            left: 10px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #e5e5e5;
        }
        &:after {
            content: '';
            display: block;
            height: 7px;
            position: absolute;
            left: 0;
            right: 0;
            top: -7px;
        }

        // images picker styles
        .vp-image-picker + ul.thumbnails.image_picker_selector {

            &,
            .group > ul {
                display: flex;
                flex-wrap: wrap;
            }

            li {
                display: block;
                flex: 0 0 25%;
                max-width: 25%;
                float: none;
                margin: 0;

                &.group,
                &.group_title {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .thumbnail {
                    padding: 3px;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    &.active .vp-control-image-dropdown__content {
        display: block;
    }
}

/**
 * oEmbed preview
 */
.vp-oembed-preview {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: #f1f1f1;
    border: 1px solid #e8e8e8;
    color: #a2a2a2;

    &:after {
        content: '\f126';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-left: -10px;
        margin-top: -10px;
        line-height: 1;
        font-family: dashicons;
        text-decoration: inherit;
        font-weight: 400;
        font-style: normal;
        vertical-align: top;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        z-index: 1;
    }

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}


/**
 * Portfolio Post Type
 */
.vp-portfolio__thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 3px;
    padding-top: 100%;
    max-width: 70px;

    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.vp-portfolio__thumbnail:empty {
    background-color: #f1f1f1;
    border: 1px solid #e8e8e8;

    &,
    &:hover,
    &:active,
    &:focus {
        color: #a2a2a2;
    }

    &:after {
        content: "\f128";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-left: -10px;
        margin-top: -10px;
        line-height: 1;
        font-family: dashicons;
        text-decoration: inherit;
        font-weight: 400;
        font-style: normal;
        vertical-align: top;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.wp-list-table {
    th.column-portfolio_post_thumbs {
        width: 70px;
    }
    th.column-vp_lists_post_shortcode {
        width: 250px;
    }

    @media screen and (max-width: 782px) {
        /* Hide column on mobile device */
        th.column-portfolio_post_thumbs {
            display: none;
        }
        tr:not(.inline-edit-row):not(.no-items) {
            td.column-portfolio_post_thumbs {
                float: left;
                width: 70px !important;
                min-width: 70px;
            }
            td.column-portfolio_post_thumbs:before {
                content: none;
            }
            td.column-title {
                clear: right;
                overflow: hidden;
            }
        }
    }
}

/**
 * Portfolio List page
 */
.vp-portfolio-list {
    .vp-portfolio-list__icon span {
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-top: 60px;
        background-size: 105px;
    }
    .vp-portfolio-list__text {
        text-align: center;

        p {
            font-weight: 500;
            font-size: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
            color: #8e8e8e;
        }

        .button-hero {
            display: inline-block;
        }
    }
}

/**
 * Portfolio layout sections
 */
.vp_list_preview {
    padding: 0 12px;
    margin-left: -12px;
    margin-right: -12px;

    iframe {
        width: 100%;
        min-height: 120px;
        transition: height .3s;
    }
}


/**
 * Portfolio content source selection
 */
.vp-content-source {
    margin-left: -6px;
    margin-right: -6px;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .vp-content-source__item {
        position: relative;
        width: 85px;
        height: 85px;
        margin: 0 6px;
        padding: 12px;
        float: left;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;
        color: #555;
        background-color: #f7f7f7;
        border: 1px solid #ccc;

        &.active,
        &:hover {
            background-color: #fafafa;
            border-color: #999;
            color: #23282d;
        }
        &.active {
            color: #fff;
            background-color: #0085ba;
            border-color: #0073aa #006799 #006799;
            text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
        }

        .vp-content-source__item-icon > span {
            font-size: 35px;
            width: 35px;
            height: 35px;
            margin-top: 10px;
        }
        .vp-content-source__item-title {
            position: absolute;
            top: 63%;
            left: 12px;
            right: 12px;
            font-weight: 500;
        }
    }

    .vp-content-source__item-content {
        &:before {
            content: '';
            display: block;
            clear: both;
        }
        > div {
            display: none;
            padding: 0 15px;
            margin-left: -9px;
            margin-right: -9px;
            margin-top: 12px;
            margin-bottom: -12px;
            border-top: 1px solid #eee;

            &:empty {
                display: none !important;
            }

            &.active {
                display: block;
            }
        }
    }
}

/**
 * Select2
 */
.vp-select2 {
    width: 100%;
}
.vp-select2 + .select2 {
    width: 100%;

    .post-attributes-label + & {
        margin-top: 5px;
    }

    ul,
    li {
        margin-bottom: 0;
    }

    .select2-selection {
        border-radius: 0;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    }
    &.select2-container--open .select2-selection {
        outline: none;
    }
    .select2-selection--multiple {
        min-height: 27px;

        .select2-selection__choice {
            color: #fff;
            background-color: #0085ba;
            border-color: #0073aa #006799 #006799;
            text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
            margin-top: 3px;
        }

        .select2-selection__choice__remove {
            color: inherit;
            opacity: 0.5;
            float: right;
            margin-left: 3px;
            margin-right: 0;
        }
    }

    // tags
    .select2-selection--multiple .select2-selection__choice {

    }
}

// select2 dropdown
.select2-vp-container {
    ul,
    li {
        margin-bottom: 0;
    }

    .select2-dropdown {
        border-color: #ddd;
    }
    .select2-search--dropdown .select2-search__field {
        border: 1px solid #ddd;
        padding: 3px 4px;
        box-shadow: none;
        outline: none;
    }
    .select2-results__option[aria-selected=true] {
        background-color: #efeeee;
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: #0085ba;
    }
}

// select2 ajax dropdown
.vp-select2-ajax__result {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    .vp-select2-ajax__result-img {
        position: relative;
        flex: 0 0 35px;
        background-size: cover;
        background-position: center center;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 3px;

        &:after {
            content: '';
            display: block;
            width: 100%;
            padding-top: 100%;
        }
    }
    .vp-select2-ajax__result-data {
        padding-left: 10px;
    }
    .vp-select2-ajax__result-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
    }
    .vp-select2-ajax__result-post-type {
        font-size: 12px;
        opacity: 0.5;
    }
}

/**
 * Form inputs
 */
.vp-input {
    width: 100%;
}

/**
 * Code editor
 */
.post-type-vp_lists {
    .CodeMirror {
        border: 1px solid #dddddd;
        text-align: left;

        .CodeMirror-matchingbracket {
            background: rgba(255,150,0,.3);
            color: inherit
        }
    }

    [class*=CodeMirror-lint-message],
    .CodeMirror-lint-marker-multiple,
    [class*=CodeMirror-lint-marker] {
        background-image: none
    }

    .CodeMirror-lint-marker-error,
    .CodeMirror-lint-marker-warning {
        cursor: help
    }

    .CodeMirror-lint-marker-multiple {
        position: absolute;
        top: 0
    }

    [class*=CodeMirror-lint-marker]:before {
        font: 400 18px/1 dashicons;
        position: relative;
        top: -2px
    }

    [class*=CodeMirror-lint-message]:before {
        font: 400 16px/1 dashicons;
        left: 16px;
        position: absolute
    }

    .CodeMirror-lint-message-error,
    .CodeMirror-lint-message-warning {
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        margin: 5px 0 2px;
        padding: 3px 12px 3px 28px
    }

    .CodeMirror-lint-message-warning {
        background-color: #fff8e5;
        border-left: 4px solid #ffb900
    }

    .CodeMirror-lint-message-warning:before,
    .CodeMirror-lint-marker-warning:before {
        content: "\f534";
        color: #f6a306
    }

    .CodeMirror-lint-message-error {
        background-color: #fbeaea;
        border-left: 4px solid #dc3232
    }

    .CodeMirror-lint-message-error:before,
    .CodeMirror-lint-marker-error:before {
        content: "\f153";
        color: #dc3232
    }

    .CodeMirror-lint-tooltip {
        background: 0 0;
        border: none;
        border-radius: 0;
        direction: ltr
    }
}


/**
 * Responsive
 */
@media (max-width: 850px) {
    .vp-steps__right,
    .vp-steps__step {
        float: none;
        width: 100%;
    }
}