.vpf-component-sortable {
  padding: 4px 0;
  margin: 0;
  list-style: none;
  border: 1px solid #7e8993;
  border-radius: 4px;
}

.vpf-component-sortable > li,
.vpf-component-sortable-item-dragging {
  padding: 3px 8px;
  margin: 0;
  list-style: none;

  &:hover {
    background-color: #f7f7f7;
  }

  > span {
    display: inline-flex;
    padding: 4px 0px;
    margin: 0px;
    margin-right: 6px;
    vertical-align: middle;
    cursor: grab;
    border-radius: 3px;

    &:hover {
      background-color: #e1e1e1;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
